@model Register

<div>
    <h1 class="display-3 text-center">Register Page</h1><hr />
</div>

<div class="row mt-5">
    <div class="col-4 offset-4">
        <div class="text-center mb-3">
            <i class="fa-solid fa-id-card fa-6x"></i>
        </div>
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Username" for="Username">Username</label>
                <input asp-for="Username" type="text" class="form-control" placeholder="Enter Your Username"/>
                <span asp-validation-for="Username"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Password" for="Password">Password</label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Enter Your Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="RePassword" for="Re-Password">Repassword</label>
                <input asp-for="RePassword" type="password" class="form-control" placeholder="Password Again" />
                <span asp-validation-for="RePassword"></span>
            </div>
            <div class="form-group d-grid mt-3">
                <button type="submit" class="btn btn-secondary"><i class="fa-regular fa-registered mx-1"></i>Register</button>
            </div>
        </form>
    </div>
</div>